/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset Code */

body {
	background-color: cadetblue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	font-weight: 600;
}

h3 {
	font-size: 18px;
	font-weight: 600;
}

h4 {
	font-size: 14px;
	font-weight: 500;
}

h5, p, a, li, .formtitle {
	font-size: 12px;
	font-weight: normal;
}

/* The section for main box, max width is equal to 1920*0,6 */
#mainsection {
	background-color: #aad4cf;
	width: 60%;
	max-width: 1152px;
	margin-left: 20%;
	position: absolute;
}

.mainimage {
	width: 100%;
}

#articleheading {
	margin-left: 2%;
}

#overimage {
	position: absolute;
	margin-top: 25%;
	margin-left: 37%;
	text-align: center;
	font-size: 36px;
	color: ivory;
}

.paragraphimage {
	width: 25%;
	float: left;
	padding: 2%;
}

#navmenu {
	width: 100%;
	height: 50px;
}

#navmenu li {
	display: inline;
	padding-left: 5px;
}

.navlink {
	display: inline-block;
	width: 32%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	padding-top: 10px;
	border-right: 2px solid #000;
}

#formbox {
	width: 95%;
	border: 3px solid #000;
	margin: 2.5%;
}

.longinfo {
	margin: 2%;
	margin-bottom: 8%;
	margin-top: 5%;
	text-align: justify;
	text-indent: 5%;
	line-height: 1.5em;
}

#listheader {
	margin: 20px;
}

ul {
	list-style: square;
	margin-left: 30px;
}

li {
	margin-top: 5px;
}

#contactheading {
	margin: 2%;
}

.formtitle {
	font-weight: 600;
	text-align: left;
}

#fullname, #youremail, #textbox, .formtitle {
	width: 97%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
}

.formbutton {
	margin: 2%;
	background-color: lawngreen;
	border-color: lightseagreen;
	font-weight: 600;
}

.formbutton:active {
	background-color: lightslategray;
	border-color: darkslategray;
}

#copyright {
	text-align: right;
	margin-right: 2%;
	margin-bottom: 5%;
}
