/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset Code */

/* Starts midterm specific css */

:root {
	font-size: clamp(6px, 1vw, 14px);
}
body {
	background-color: cadetblue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3, .navlink {
	font-size: 1.5rem;
	font-weight: 600;
}

h4 {
	font-size: 1.2rem;
	font-weight: 500;
}

h5, p, li, .formtitle, #textbox, .formbutton, #resetbutton, input {
	font-size: 1rem;
	font-weight: normal;
}

/* The section for main box, max width is equal to 1920*0,6 */
#mainsection {
	position: relative;
	background-color: #aad4cf;
	width: 60%;
	max-width: 1152px;
	margin: 0 auto;
}

.mainimage {
	width: 100%;
}

.mainimagebox {
	width: 100%;
	position: relative;
}


#overimage {
	position: absolute;
	width: 100%;
	bottom: 10%;
	text-align: center;
	color: ivory;
	z-index: 1;
}

/* override user agent stylesheet */
#navul {
    display: block;
    list-style-type: disc;
    margin:auto;
}

#navmenu {
	width: 100%;
	height: 5rem;
}

#navmenu li {
	display: inline;
	padding-left: 0px;
}

/* I have problems with the lines between links, solved on lesson with using float property */
/* I have problems with the responsiveness of the links, below some vw last one goes down, solved with float property */
.navlink {
	float: left;
	width: 33.3%;
	height: 3rem;
	padding-top: 0.5rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	border-right: 2px solid #000;
	overflow: hidden;
	box-sizing: border-box;
}

/* Starts article */
#articleheading {
	margin-left: 2%;
}

.paragraphimage {
	width: 22%;
	float: left;
	padding: 2% 1% 0 2%;
}

/* Tries initial letter rules */ 
.longinfo::first-letter {
	float: left;
	font-size: 3em;
	font-weight: 700;
	color: rgb(245, 86, 86);
	margin: 0.25em 0.1em 0.1em 0;
}

.longinfo {
	margin: 2% 3% 3% 2%;
	text-align: justify;
	line-height: 1.5em;
}

#listheader {
	margin: 20px;
}

ul {
	list-style: square;
	margin-left: 30px;
}

li {
	margin-top: 5px;
}

/* starts contact form */
#formbox {
	width: 95%;
	border: 3px solid #000;
	box-sizing: border-box;
	margin: 2.5%;
}

#contactheading {
	margin: 2%;
}

.formtitle {
	font-weight: 600;
	text-align: left;
}

#fullname, #youremail, #textbox, .formtitle {
	width: 98%;
	box-sizing: border-box;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
}

.formbutton {
	margin: 2%;
	background-color: lawngreen;
	border-color: lightseagreen;
	font-weight: 600;
	width: 10%;
}

.formbutton:active, #resetbutton:active {
	background-color: lightslategray;
	border-color: darkslategray;
}

#formheader~input{
	width: 1rem;
}

/* ERROR it is not recoloring the id. 0100 should override, reloading the page solved error */
#resetbutton {
	background-color: firebrick;
}

#copyright {
	text-align: right;
	margin-right: 2%;
	margin-bottom: 5%;
}
